{% extends 'base.html.twig' %}

{% block title %}LISTE PURCHASE{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="bgc-white bd bdrs-3 p-20 mB-20">
                <div class="row gap-3">
                    
                    <div class="col-md-6">
                        <h4 class="c-grey-900 mB-20">Liste des commandes</h4>
                        

                        <div class="input-group input-group-sm mb-3 ">
                                <div class="input-group-prepend">
                                    <button class="btn btn-warning" type="button">
                                    <i class="ti-search"></i>
                                    </button>
                                </div>
                                <input type="text" id="search-input" placeholder="Search" class="border border-warning">
                        </div>
                        
                    </div>
                        <div class="col-md-6 text-left">
                       <a href="{{ path("create_purchase")}}" class="btn btn-warning btn-sm btn-icon-split btn-lg">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-flag"></i>
                                        </span>
                                        <span class="text">Ajouter une commande</span>
                                    </a>

                    
                        </div>
                       
                        <div class="col-md-6">
                           
                                
                        </div>
                <div class="table-responsive">
                    <table id="dataTable" class="table table-striped table-hover table-bordered" cellspacing="0" width="100%">
                        
                    <thead class="t-9">
                    <tr>
                        <th>client</th>
                        <th>Total</th>
                        <th>produit</th>
                        <th>Moyen de payment</th>
                        <th>Statut</th>
                        <th>Action</th>
                        
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                         <th>client</th>
                        <th>Total</th>
                        <th>produit</th>
                        <th>Moyen de payment</th>
                        <th>Statut</th>
                        <th>Action</th>
                        
                    </tr>
                    </tfoot>
                    <tbody id="table-id">
                    {% for purchase in purchases %}
                        <tr>
                            <td>{{ purchase.client.name }}</td> 
                            
                            
                            <td>{{ purchase.total }} Ar</td>
                            <td>
                                <ul>
                                    {% for pupu in purchase.product %}
                                        
                                            <li>
                                                {{ pupu.name}}
                                                
                                            </li>
                                    {% endfor %}   
                                    <!--{% for item in purchase.quantityProducts %}
                                        
                                                 {{item.nombre}}
                                                
                                            
                                                     
                                    {% endfor %}  
                                            --> 
                                </ul>
                            </td>
                            <td>{{ purchase.paymentMethod }}</td>
                            {% if purchase.status == false %}
                            <td>
                                
                                    
                                    <button type="button" name="" id="confirm_button" onclick="updatePurchase('{{ purchase.id }}')" class="btn btn-primary ">
                                            Confirmer la commande
                                    </button>
                            </td>
                            
                            {% elseif purchase.status == true %}
                            <td>
                                
                                    Vair
                            </td>
                            {% else %}
                               <td>
                                
                                    Not defined
                            </td>
                            {% endif %}
                            <td>
                                <button type="button" name="" id="confirm_button" onclick="window.open('{{ path('print_purchase', {'id': purchase.id}) }}')" class="btn btn-outline-info btn-icon-text">
                                            Imprimer la facture
                                            <i class="ti-printer btn-icon-append" aria-hidden="true"></i>
                                    </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
                
            </div>
        </div>
    </div>
 <script>
 

                    document.getElementById("search-input").addEventListener("keyup", function() {
                        let input = this.value.toLowerCase();
                        let rows = document.getElementById("table-id").getElementsByTagName("tr");

                        for (let i = 0; i < rows.length; i++) {
                            let cells = rows[i].getElementsByTagName("td");
                            let found = false;

                            for (let j = 0; j < cells.length; j++) {
                                if (cells[j].innerHTML.toLowerCase().indexOf(input) > -1) {
                                    found = true;
                                }
                            }

                            if (found) {
                                rows[i].style.display = "";
                            } else {
                                rows[i].style.display = "none";
                            }
                        }
                    });





                     const updateButton = document.getElementById('confirm_button');

    function updatePurchase(purchaseId) {
    
  // Get the value you want to update the purchase entity with
  var newValue = purchaseId;

  // Send an AJAX request to the controller to update the purchase entity
  var xhr = new XMLHttpRequest();
  console.log("ozdaoefaef");
  xhr.open("POST", "/confirmCommande/" + purchaseId);
  xhr.setRequestHeader("Content-Type", "application/json");
  xhr.onload = function () {
    if (xhr.status === 200) {
      // Update the button text
      var button = document.querySelector("button[data-purchase-id='" + purchaseId + "']");
      button.innertext = "vita";
      
    } else {
      console.log("Something went wrong");
    }
  };
  xhr.send(JSON.stringify({ newValue: newValue }));
}


            $(document).ready(function() {
                                
                                $('#dataTable').DataTable({
        
                                 "searching": false
                                });
                                
            });
</script>      


{% endblock %}
